In [3]:
# Creating a variable
price = 226      # Intializing the variable
print(price)
price=230          # Assigning New Value to variable
print(price)

226
230

In [5]:
# chain assignment operation to variables in Python
x=y=z=100
print(x,y,z)
y=101
print(x,y,z)

100 100 100
100 101 100

In [6]:
# Variable Naming Conventions
#A variable name must start with a letter or the underscore character

stock ='AXIS'
_name='HDFC'

print(stock,_name)

AXIS HDFC

In [7]:
#A variable name cannot start with a number.
1stock='axis'
print(stock)

SyntaxError: invalid syntax (<ipython-input-7-0fd501427409>, line 2)

In [8]:
# A variable name can only contain alpha-numeric characters(A-Z, a-z,0-9) and underscores( _ ).
#It is a combination of a capital letter, alphabets and a number.
stock='HDFC'
Stock_name='HDFC'
stock_1='HDFC'
Stock_price_1=52

print(stock,Stock_name,stock_1,Stock_price_1)

HDFC HDFC HDFC 52

In [9]:
# Variable names are case-sensitive

STOCK='AXIS'
Stock='DHFL'
stock='KVB'
print(STOCK,Stock,stock)

#STOCK, stock and Stock all three are different variable names.

AXIS DHFL KVB

In [22]:
# Python keywords cannot be used as a variable name.
str = 'PYTHON'
print(type(str))
print(str)

<class 'str'>
PYTHON

In [23]:
is ='a'
print(is)

SyntaxError: invalid syntax (<ipython-input-23-d7ee35542967>, line 1)

In [25]:
for ='FOR'
print(for)

SyntaxError: invalid syntax (<ipython-input-25-d59d086d50a8>, line 1)

In [7]:
# Data Types Integer
total_months=12
# FLoat
Price=22.5
# Boolean
Buy=True
print(Buy)
# Equality Operator
1==1
1==-1
1>-1

# Boolean should written as True and False and not in Quotes.

True

False

In [12]:
# String

Sample_String='Nothing something'
print(Sample_String)

Nothing something

In [17]:
price_value='1.1'
price_value_1=1.2
print('The value is '+price_value)

The value is 1.1

In [18]:
# + operator works only on a string concatenation
print('The value is '+price_value_1)

TypeError: can only concatenate str (not "float") to str

In [20]:
# * operator with a string literal to produce the same string multiple times.
Var_String='Python '
print(Var_String*3)

Python Python Python

In [26]:
# Subtring/Slice/Inexing
Var_String[0]

'P'

In [27]:
Var_String[1]

'y'

In [28]:
Var_String[0:2]

'Py'

In [29]:
Var_String[3]

'h'

In [30]:
Var_String[10]

IndexError: string index out of range

In [ ]:
###Operations on String####

In [32]:
#Upper
sample_string='Python HandBook'
sample_string.upper()

'PYTHON HANDBOOK'

In [35]:
# Lower
sample_string.lower()

'python handbook'

In [1]:
# Strip()
sample_string='   Python HandBook   '
sample_string.strip()

'Python HandBook'

In [4]:
# isalpha()
sample_string='PythonHandBook'
sample_string.isalpha()

True

In [5]:
# isalpha()
sample_string='Python HandBook'
sample_string.isalpha()   # whitesapce wont consider

False

In [6]:
# isdidgit()
'12345'.isdigit()

True

In [7]:
# isdidgit()
'12345 '.isdigit()  # whitesapce it wont take

False

In [8]:
# Starts with Argument
sample_string.startswith('p')

False

In [9]:
sample_string.startswith('P')

True

In [14]:
# find(sub, start, end) method: This method returns the lowest index in a string where substring sub is found within the slice
# [start:end]. Here, arguments start and end are optional. It returns-1 if sub is not found.
sample_string.find('Python')

0

In [15]:
sample_string.find('t')  # Index of t is 2

2

In [29]:
sample_string.find('o') #First occurrence of o

4

In [16]:
# Replace 
'Dinesh'.replace('D','d')

'dinesh'

In [18]:
'00 01 10 11'.replace('0', '1') # Replace works for String

'11 11 11 11'

In [26]:
# split a string into multiple strings based on the delim argument.
'AAPL, MSFT, GOOG'.split(',')

['AAPL', ' MSFT', ' GOOG']

In [28]:
sample_string.split(' ')  # these strings in a single data structure called List.

['Python', 'HandBook']

In [30]:
# capitalize()
'python is amazing!'.capitalize()

'Python is amazing!'

In [32]:
# Count
'python is amazing!'.count('i')

2

In [ ]:
Type Functions

In [35]:
# type() function
type('Python Handbook')

str

In [36]:
type(120.12)

float

In [37]:
type(224)

int

In [38]:
type('0')

str

In [41]:
type(True)  # Boolean

bool

In [42]:
type(False)

bool

In [45]:
type('False')

str

In [46]:
type('false')

str

In [47]:
# List
type([1,2,3])

list

In [51]:
x=[1,3,5,7]
print(x)
print(type(x))

[1, 3, 5, 7]
<class 'list'>

In [52]:
# Dictionary
type({'key':'value'})# Key value Pairs

dict

In [55]:
d={'Gorilla': 2, 'monkey': 4}
print(d)
print(type(d))

{'Gorilla': 2, 'monkey': 4}
<class 'dict'>

In [56]:
sample_dict={'a': (1, 2, 2), 'b': 3}
print(sample_dict)

{'a': (1, 2, 2), 'b': 3}

In [58]:
# tuple
city=('Chennai','Bangalore','Delhi','Mumbai')
print(type(city))

<class 'tuple'>

In [59]:
# set
type({1, 2, 3})

set

In [ ]:
Type Conversion
Implicit Conversion  -->coercion
Explicit Conversion -->Casting

In [61]:
# Implicit Conversion
z=4/2
print(z)
print(type(z))

2.0
<class 'float'>

In [ ]:
Explicit Conversion

In [62]:
# Explicit Conversion
print('This is the year'+2019)

TypeError: can only concatenate str (not "int") to str

In [64]:
print('This is the year '+str(2019))

This is the year 2019

In [65]:
# # Integer to float conversion
float(4)

4.0

In [68]:
# String to float conversion
float('4.2')

4.2

In [69]:
print(type(float('4.2')))

<class 'float'>

In [71]:
# Float to integer conversion
int(4.2)

4

In [72]:
# String to integer conversion
int('4')

4

In [73]:
# Python does not convert a string literal with a
# fractional part, and instead, it will throw an error.
int('4.0')

ValueError: invalid literal for int() with base 10: '4.0'

In [74]:
# Float to string conversion
str(4.2)

'4.2'

In [75]:
# Integer to string conversion
str(4)

'4'

In [77]:
# Boolean to integer conversion
int(False)

0

In [78]:
int(True)

1

In [ ]:
Integer to boolean conversion

In [79]:
bool(0)

False

In [80]:
bool(1)

True

In [81]:
bool(-1)

True

In [ ]:
Internally True is treated as 1 and False is treated as 0 in Python