In [3]:
from array import *
arr = array('i', [2, 4, 6, 8])

print(arr)

type(arr)

array('i', [2, 4, 6, 8])

array.array

# *************Array************

In [27]:
# Accessing Array Element
arr[2]

6

In [4]:
arr[0]

2

In [29]:
# Manipulating Arrays


# Inserting an element at the beginning
arr.insert(0,20)

In [30]:
arr

array('i', [20, 2, 4, 6, 8])

In [32]:
# Inserting an element at the index 3
arr.insert(3,60)

In [5]:
arr

array('i', [2, 4, 6, 8])

In [6]:
# Element can be deleted by built in method remove()
arr.remove(20)

ValueError: array.remove(x): x not in array

In [7]:
arr

array('i', [2, 4, 6, 8])

In [8]:
# Update an element at index 1
arr[0]=1

In [9]:
arr

array('i', [1, 4, 6, 8])

In [10]:
arr[5]=50

IndexError: array assignment index out of range

In [11]:
arr[4]=40

IndexError: array assignment index out of range

In [12]:
arr

array('i', [1, 4, 6, 8])

In [ ]:
an array operations such as reverse, pop, append

# ********************* Tuples *********************************

In [ ]:
# Tuples
Tuples are immutable and sequence of elements.
Hold multiple values followed by commas.

In [13]:
tup=(1,2,3)
tup

(1, 2, 3)

In [14]:
type(tup)

tuple

In [15]:
tup_str=('a','b','','c')
tup_str

('a', 'b', '', 'c')

In [16]:
tup_st=('a,,c')
tup_st

'a,,c'

In [17]:
type(tup_st)

str

In [18]:
type(tup_str)

tuple

In [19]:
# tuples with different data types
tup1= (1,'a', 2.5)

In [20]:
type(tup1)

tuple

In [21]:
# Creating a tuple without brackets
tu=1,2,3

In [22]:
tu

(1, 2, 3)

In [23]:
# repeat a value multiple times
tup_i = (1,) * 5
tup_a = ('a',) * 5

In [24]:
tup_i

(1, 1, 1, 1, 1)

In [25]:
tup_a

('a', 'a', 'a', 'a', 'a')

In [26]:
# Accessing Tuples
tu[0]

1

In [27]:
len(tu)

3

In [28]:
len(tup_a)

5

In [29]:
tup_i[1] = 10

TypeError: 'tuple' object does not support item assignment

In [30]:
# Concatenating Tuples
tup_i+tup_a

(1, 1, 1, 1, 1, 'a', 'a', 'a', 'a', 'a')

In [31]:
tu+=6,7

In [32]:
tu

(1, 2, 3, 6, 7)

In [33]:
# Unpacking Tuples
x,y,z,a,b=tu

In [34]:
print(x)
print(b)

1
7

In [35]:
# return index
tup.index(3)

2

In [36]:
# number of occurrences of a value
tup_i.count(1)

5

# **********************************Lists********************************

In [2]:
# Empty List
list_a=[]

In [3]:
list_a

[]

In [4]:
# List with Integers
list_n=[1,2,3]

In [5]:
list_n

[1, 2, 3]

In [6]:
# list with mixed data types
list_c_n=[1,2,3,'Dinesh']
list_c_n

[1, 2, 3, 'Dinesh']

In [7]:
# Nested List
list_Nested=[1,2,10,['Dinesh','MAD'],'List']
list_Nested

[1, 2, 10, ['Dinesh', 'MAD'], 'List']

In [8]:
# Indexing and Accessing list
stock_list=['KOTAK','DHFL','NIPPON','ADITYA','HDFC']
stock_list

['KOTAK', 'DHFL', 'NIPPON', 'ADITYA', 'HDFC']

In [9]:
stock_list[2]

'NIPPON'

In [10]:
# Last value of list
stock_list[-1]

'HDFC'

In [11]:
# Updating Lists 
# Mutuable
stock_list[0]='KOTAK BANK'
stock_list

['KOTAK BANK', 'DHFL', 'NIPPON', 'ADITYA', 'HDFC']

In [17]:
# Updating the last 2 elements
stock_list[-2:]='ADITYA BIRLA','HDFC BANK'

In [18]:
stock_list

['KOTAK BANK', 'DHFL', 'NIPPON', 'ADITYA BIRLA', 'HDFC BANK']

In [20]:
# List with tuples
stock_list[-2]='ADITYA BIRLA','HDFC BANK'
stock_list

['KOTAK BANK', 'DHFL', 'NIPPON', ('ADITYA BIRLA', 'HDFC BANK'), 'HDFC BANK']

In [21]:
# List within List
stock_list[-2]=['ADITYA BIRLA','HDFC BANK']
stock_list

['KOTAK BANK', 'DHFL', 'NIPPON', ['ADITYA BIRLA', 'HDFC BANK'], 'HDFC BANK']

In [22]:
# Append Method
stock_list_a=['KOTAK','DHFL','NIPPON','ADITYA','HDFC']
stock_list_a

['KOTAK', 'DHFL', 'NIPPON', 'ADITYA', 'HDFC']

In [24]:
stock_list_a.append('ICICI')
stock_list_a

['KOTAK', 'DHFL', 'NIPPON', 'ADITYA', 'HDFC', 'ICICI', 'ICICI']

In [25]:
stock_list_a.append(['SBI','DHFL'])
stock_list_a

['KOTAK',
 'DHFL',
 'NIPPON',
 'ADITYA',
 'HDFC',
 'ICICI',
 'ICICI',
 ['SBI', 'DHFL']]

In [27]:
# List and tuples
stock_list_a.append(('AAA','BBB'))
stock_list_a

['KOTAK',
 'DHFL',
 'NIPPON',
 'ADITYA',
 'HDFC',
 'ICICI',
 'ICICI',
 ['SBI', 'DHFL'],
 ('AAA', 'BBB')]

In [31]:
# Extend

stock_list_e=['KOTAK','DHFL','NIPPON','ADITYA','HDFC']
stock_list_e

['KOTAK', 'DHFL', 'NIPPON', 'ADITYA', 'HDFC']

In [32]:
# it will extend in existing list
stock_list_e.extend(['SBI','DHFL'])
stock_list_e

['KOTAK', 'DHFL', 'NIPPON', 'ADITYA', 'HDFC', 'SBI', 'DHFL']

In [45]:
# List Manipulation
# Insert
stock_list=['KOTAK','DHFL','NIPPON','ADITYA','HDFC']
stock_list.insert(1,'AXIS')
stock_list

['KOTAK', 'AXIS', 'DHFL', 'NIPPON', 'ADITYA', 'HDFC']

In [46]:
# Remove
stock_list.remove('AXIS')
stock_list

['KOTAK', 'DHFL', 'NIPPON', 'ADITYA', 'HDFC']

In [47]:
# POP pop() : This function removes and returns the last item in the list
stock_list.pop()

'HDFC'

In [48]:
stock_list

['KOTAK', 'DHFL', 'NIPPON', 'ADITYA']

In [49]:
stock_list.pop(1)   # Removes specified index of list

'DHFL'

In [50]:
stock_list    # After removing pop index position

['KOTAK', 'NIPPON', 'ADITYA']

In [52]:
stock_list.count('KOTAK')  # count

1

In [53]:
# index
stock_list.index('KOTAK')

0

In [57]:
# Sorting
stock_list.sort()
stock_list

['ADITYA', 'KOTAK', 'NIPPON']

In [59]:
# Reversing the elements within the list.
stock_list.reverse()
stock_list

['ADITYA', 'KOTAK', 'NIPPON']

# *******************Stack and Queue**************************

In [61]:
stack=[1,2,3]
stack

[1, 2, 3]

In [62]:
stack.append(4)
stack.append(5)

In [63]:
stack

[1, 2, 3, 4, 5]

In [64]:
stack.pop()

5

In [65]:
stack.pop()

4

In [66]:
# Import 'deque' module from the 'collections' package
from collections import deque

In [74]:
# Define initial queue
queue = deque(['Perl', 'PHP', 'Go'])

In [75]:
queue

deque(['Perl', 'PHP', 'Go'])

In [76]:
# 'R' arrives and joins the queue
queue.append('R')
queue

deque(['Perl', 'PHP', 'Go', 'R'])

In [77]:
# 'Python' arrives and joins the queue
queue.append('Python')
queue

deque(['Perl', 'PHP', 'Go', 'R', 'Python'])

In [78]:
# The first to arrive leaves the queue
queue.popleft()

'Perl'

In [80]:
queue

deque(['PHP', 'Go', 'R', 'Python'])

In [ ]:
Append LIFO
POP FIFO

# *********************Dictionaries************************

A dictionary can be created either using the curly brackets {} or the method
dict().

In [58]:
# Creating and accessing dictionaries
tickers={}
tickers

{}

In [59]:
type(tickers)

dict

In [60]:
# Creating an empty dictionary using the dict() method
tickers=dict()

In [61]:
tickers={'GOOG':'Google','APPL':'Apple inc','MSFT':'Microsoft'}
tickers

{'GOOG': 'Google', 'APPL': 'Apple inc', 'MSFT': 'Microsoft'}

In [83]:
tickers['APPL']

'Apple inc'

In [84]:
tickers['GOOG']

'Google'

In [82]:
# Dictionary with multiple Data Types
ticker={'symbol':'Apple','Price':100,'products':['ipod','iphone']}
ticker

{'symbol': 'Apple', 'Price': 100, 'products': ['ipod', 'iphone']}

In [64]:
ticker

{'symbol': 'Apple', 'Price': 100, 'products': ['ipod', 'iphone']}

In [65]:
# Accessing the symbol name
ticker['Price']

100

In [66]:
ticker['products']

['ipod', 'iphone']

In [85]:
# Nested Dictionary
tickers = {'AAPL' : {'name' : 'Apple Inc.', 'price' : 224.95 },
'GOOG' : {'name' : 'Alphabet Inc.','price' : 1194.64}
 }

In [86]:
tickers

{'AAPL': {'name': 'Apple Inc.', 'price': 224.95},
 'GOOG': {'name': 'Alphabet Inc.', 'price': 1194.64}}

In [67]:
# Accessing the position
ticker['products'][1]

'iphone'

In [69]:
# Adding new items
ticker['founders'] = 'Steve Jobs'
ticker

{'symbol': 'Apple',
 'Price': 100,
 'products': ['ipod', 'iphone'],
 'founders': 'Steve Jobs'}

In [70]:
# Delete 
del(ticker['founders'])

In [71]:
ticker

{'symbol': 'Apple', 'Price': 100, 'products': ['ipod', 'iphone']}

In [72]:
# Dictionary  Methods
len(ticker)

3

In [73]:
len(ticker['products'])

2

In [74]:
ticker.items()   # returns a object containing all times in the calling object

dict_items([('symbol', 'Apple'), ('Price', 100), ('products', ['ipod', 'iphone'])])

In [75]:
# Values Dict
ticker.values()

dict_values(['Apple', 100, ['ipod', 'iphone']])

In [76]:
# Keys Dict
ticker.keys()

dict_keys(['symbol', 'Price', 'products'])

In [77]:
# copy

aapl = ticker.copy()

In [78]:
aapl

{'symbol': 'Apple', 'Price': 100, 'products': ['ipod', 'iphone']}

In [79]:
aapl.clear()

In [80]:
ticker.clear()

In [81]:
ticker

{}

In [89]:
# Update Dictionary
ticker1 = {'NFLX' : 'Netflix'}
ticker2 = {'AMZN' : 'Amazon'}

In [90]:
new_tickers = {}

In [92]:
new_tickers.update(ticker1)
new_tickers.update(ticker2)

# **************  Sets**************
A set is an unordered and unindexed collection of items. It is a collection data type which is mutable, iterable and contains no duplicate values

In [95]:
universe ={'GOOG', 'AAPL', 'NFLX', 'GE'}
universe

{'AAPL', 'GE', 'GOOG', 'NFLX'}

In [97]:
universe.add('AMZN')
universe

{'AAPL', 'AMZN', 'GE', 'GOOG', 'NFLX'}

In [ ]:
# Set Methods
Len
discard
remove
clear

In [106]:
tech_stocks = {'AMD', 'GOOG', 'AAPL', 'WDC'}
fin_stocks = {'BAC', 'BMO', 'JPLS'}

In [107]:
# union operators
Final_sets=tech_stocks.union(fin_stocks)
Final_sets

{'AAPL', 'AMD', 'BAC', 'BMO', 'GOOG', 'JPLS', 'WDC'}

In [108]:
# intersection() returns only elements which are available in both sets
fin_stocks.add('AAPL')
Final_sets.intersection(fin_stocks)

{'AAPL', 'BAC', 'BMO', 'JPLS'}

In [109]:
# difference()
# returns a set containing all elements of the calling object but not including elements of the second set.
Final_sets.difference(fin_stocks)

{'AMD', 'GOOG', 'WDC'}

In [ ]:
# Set Methods Boolean

issubset()
isdisjoint()
issuperset()