In [20]:
# If Codn
buy_condition =True
if buy_condition==True:
    position='Buy'

In [21]:
print(position)

Buy

In [22]:
print(buy_condition)

True

In [45]:
# Elif Codn
buy_condition_1=1
sell_condition_1=None
rsi_indicator=0
if buy_condition_1 == True and rsi_indicator <= 20:
    position_1 = 'Buy'
elif sell_condition_1 and rsi_indicator >= 80:
    position_1 = 'Sell'

In [44]:
print(position_1)

Buy

In [48]:
# The else clause
x=1
y=x
if x==0: 
    print('If Codn')
elif y==0:
    print('elif codn')
else:
    print('None')

None

# *****Loops*********

In [50]:
# While
data_points=6
count=0
while count!=data_points:
    print(count)
    count=count+1

0
1
2
3
4
5

In [60]:
data_points = 6
count = 0
while count!=data_points:
    print(count)
    count+=1
else:
    print('exit from while loop')

0
1
2
3
4
5
exit from while loop

In [ ]:
# For Loop
# Range
range([start,] stop [, step])

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
# For Loop with incrementation
for i in range(1,10,2):
    print(i)

1
3
5
7
9

# Looping through lists

In [3]:
top_gainers=['BHARTIARTL', 'EICHERMOT', 'HCLTECH',
'BAJFINANCE', 'RELIANCE']
for i in top_gainers:
    print(i)

BHARTIARTL
EICHERMOT
HCLTECH
BAJFINANCE
RELIANCE

In [6]:
# Loop with index identifying
for i in top_gainers:
    print(str(top_gainers.index(i))+": "+i)

0: BHARTIARTL
1: EICHERMOT
2: HCLTECH
3: BAJFINANCE
4: RELIANCE

# Looping through strings

In [7]:
p='Python'
for i in p:
    print(i)

P
y
t
h
o
n

In [46]:
p1=0
print(type(p1))
while p1< int(len(p)):
    
    print(p[p1])
    p1=p1+1

<class 'int'>
P
y
t
h
o
n

In [47]:
p1=0
print(type(p1))
while p1< int(len(p)):
    
    print(p)
    p1=p1+1

<class 'int'>
Python
Python
Python
Python
Python
Python

In [44]:
# while iteration
text='DINESH'
i=0

while i < len(text):
    print(text[i])
    i += 1

D
I
N
E
S
H

# Looping through dictionaries

In [27]:
sample_dict={'HDFC':123,'AXIS':100,'KOTAK':50}
for key,value in sample_dict.items():
    print(f' Price of {key} is {value}')

 Price of HDFC is 123
 Price of AXIS is 100
 Price of KOTAK is 50

In [28]:
# collection of a dictionary items (in form of tuples).
sample_dict.items()

dict_items([('HDFC', 123), ('AXIS', 100), ('KOTAK', 50)])

# Nested loops

In [36]:
for i in range(1,5):
    for j in range(1,5):
        ans=i*j
        print(ans,end=' ')
    print()  
else:
        print('For loop with else')

1 2 3 4
2 4 6 8
3 6 9 12
4 8 12 16
For loop with else

In [39]:
# While Nested
table_value=1
while table_value!=5:
    mult=1
    while mult!=5:
        ans1=table_value*mult
        print(ans1, end=' ')
        mult+=1
    table_value+=1
    print()

1 2 3 4
2 4 6 8
3 6 9 12
4 8 12 16

# Loop Control Statement

In [41]:
#Break
for c in range(10):
    print(c)
    if c==6:
        print('Exit the Loop')
        break
print('Control gone out of loop')

0
1
2
3
4
5
6
Exit the Loop
Control gone out of loop

In [53]:
# Continue
for c in range(10):
    print(c)
    if c==6:
        continue
        print('cont')
print('Control gone out of loop')

0
1
2
3
4
5
6
7
8
9
Control gone out of loop

In [58]:
# pass
stocks = ['AAPL', 'HP', 'MSFT', 'GOOG']
for stock in stocks:
    if stock=='HP':
        pass
    else:
        print(stock)
else:
    print('For loop is over!')

AAPL
MSFT
GOOG
For loop is over!

In [60]:
stocks = ['AAPL', 'HP', 'MSFT', 'GOOG']
for stock in stocks:
    pass
else:
    print('For loop is over!')

For loop is over!

# List comprehensions

In [1]:
# Prime Numbers
cube_list=[]
for i in range(10):
    cube_list.append(i**3)

In [2]:
cube_list

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [8]:
c_list=[]
even=[]
others=[]
for i in range(11):
    if i%2==0:
        even.append(i)
    else:
        others.append(i)
    c_list.append(i**3)

In [9]:
c_list

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [10]:
others

[1, 3, 5, 7, 9]

In [11]:
even

[0, 2, 4, 6, 8, 10]

In [12]:
[i for i in range(0,20) if i%2==0 if i%3==0]

[0, 6, 12, 18]

In [13]:
[str(i)+': Even' if i%2==0 else str(i)+': Odd' for i in
range(0,6)]

['0: Even', '1: Odd', '2: Even', '3: Odd', '4: Even', '5: Odd']

In [14]:
# Nested Loops
for i in range(7,8):
    for j in range(1,10):
        print(f'{i}*{j}={i*j}')

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63

In [15]:
#List Comprehension
[i * j for j in range(1,11) for i in range(7,8)]

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]