In [1]:
# Python Keywords

(5>2) and (4>3)

True

In [3]:
# as Alias keyword
import calendar as c
c.isleap(2019)

False

In [9]:
c1= c.TextCalendar(c.SUNDAY)
c1.prmonth(2007, 7)

     July 2007
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [10]:
# assert keyword is used while debugging code. 

stock='HDFC'

assert stock=='HDFC'

In [11]:
# to check codn is true.
assert stock=='AXIS'

AssertionError:

In [14]:
# Break is used to control For and While Loop

for i in range(1,10):
    if i > 7:
        break;
    print(i)

1
2
3
4
5
6
7

In [18]:
# Class
class stock():
    name='DHFL'
    price=50
    invested_dt='2019-NOV-01'
s1=stock()

In [19]:
# How to use class , classname.
print(s1)

<__main__.stock object at 0x00000270EB1CEFD0>

In [35]:
# Print format
print('The stock is {0} on {1}'.format(s1.name,s1.invested_dt))

The stock is DHFL on 2019-NOV-01

In [44]:
# continue statement is used to end iteration for for and while loop
for i in range(7):
    if i==4:
        continue
    print(i)

0
1
2
3
5
6

In [46]:
# def used to create /define function with in python.
def sample_function():
    print('This is sample def function python program')

In [47]:
sample_function()

This is sample def function python program

In [49]:
# del is used to delete the objects
a='PYTHON'
del(a)

In [50]:
a

NameError: name 'a' is not defined

In [57]:
# if ,elif and else codn

number=4
if number < 3:
    print('The given number is less than 5')
elif number ==4:
    print('The given number is equal to 4')
else:
    print('Somother numbers')

The given number is equal to 4

In [58]:
# Try and Except block for raise error
try:
    y>5
except:
    print('Error in above')

Error in above

In [59]:
# Finally no matter wether it raises error or not . this will close objects
try:
    x<1
except:
    print('Error in try block')
finally:
    print('COmplete the code block')

Error in try block
COmplete the code block

In [60]:
# import external libraries
import pandas

In [61]:
from pandas import DataFrame

In [62]:
from datetime import time

In [63]:
from math import floor

In [69]:
# Global Variable
ticker='GOOG'
def stocks():
    global ticker
    print('The inital global value is',ticker)
    ticker='AAPl'

In [70]:
stocks()
print(ticker)

The inital global value is GOOG
AAPl

In [71]:
# in keyword is used to check if a value is present in a sequence. 
#It is also used to iterate through a sequence in a for loop.
stock_list=['GOOG','NETFLIX','MSFT','AMAZON']

In [72]:
'AMAZON PRIME' in stock_list

False

In [73]:
'AMAZON' in stock_list

True

In [74]:
'amazon' in stock_list

False

In [85]:
y=stock_list

In [87]:
# is keyword
y is stock_list

True

In [89]:
stock_list.reverse()

In [91]:
stock_list

['GOOG', 'NETFLIX', 'MSFT', 'AMAZON']

In [90]:
y

['GOOG', 'NETFLIX', 'MSFT', 'AMAZON']

In [81]:
# is used to check both variable are in same Object
var='abc'
num=123
var_1='xyz'
var_2='xyz'

In [82]:
var is num

False

In [83]:
var is var_1

False

In [84]:
var_2 is var_1

True

In [92]:
# lambda
addition = lambda x, y : x + y

In [93]:
addition(2,3)

5

In [94]:
# None is like null or no value its data type None
# It is not same as 0, False, or an empty string
x=None

In [95]:
type(x)

NoneType

In [110]:
# Non local keyword
def main_function():
    x='DINESH'
    def nested_function():
        nonlocal x
        x='MONKEY'
    nested_function()

    return x

In [111]:
print(main_function())

MONKEY

In [1]:
# Logic operator
buy=False

In [2]:
not buy

True

In [3]:
(5 > 3) or (4 < 2)

True

In [19]:
# pass keyword is used as a placeholder for a null statement.
def empty_function():
    pass

In [20]:
empty_function()

In [22]:
# Raise
x='Python'
if not type(x) is int:
    raise TypeError('Only integers are allowed')

TypeError: Only integers are allowed

In [23]:
# Return key is used to return value from function
def addition(a,b):
    return(a+b)

In [24]:
addition(1,2)

3

In [ ]:
# With keyword is used to wrap the execution of block with method

# *********************** Operators**************************

In [ ]:
# Arithmetic operators
Addition +
Subtraction -
Multiply *
Division /      may return floor/integer
Modulo %
Exponentiation **
Floor Division // Returns integer

In [25]:
# Comparison
a=5
b=3
x=5
y=3

In [26]:
# Equality
a==x

True

In [27]:
b==y

True

In [28]:
a!=x

False

In [ ]:
# Equality operator
==
=
!=
<
>
<=
>=
or
and 
not

In [29]:
 3 == 3

True

In [31]:
not 3 == 2

True

In [32]:
not 3 == 3

False

# ******Assignment Operators*****************

In [55]:
a=5
b=3

In [56]:
a,b=5,3

In [38]:
a,b=5,3,1

ValueError: too many values to unpack (expected 2)

In [57]:
# +=
a+=2

In [58]:
a

7

In [59]:
a-=2

In [60]:
a

5

In [61]:
a*=2
print(a)

10

In [62]:
a /= 3

In [63]:
print(a)

3.3333333333333335

In [64]:
a = 10
a %= 3

In [65]:
print(a)

1

In [72]:
# exponential operation
a=3
a **= 3

In [73]:
print(a)

27

In [74]:
a = 10
a //= 4
print(a)

2

In [75]:
# bitwise Operators
# bitwise ’AND’ operation between the operands and then assigns the result to the operand on the left side
z=0
z&=1
print(z)

0

In [76]:

y=0
y=1
print(y)

1

In [77]:
# Bitwise Or
x=0
x |= 1
print(x)

1

In [78]:
# Bitwise XOR
a = 1
a ^= 1
print(a)

0

In [79]:
# divide
a = 32
a >>=2
print(a)

8

In [80]:
# <<= :
a=8
a<<=2
print(a)

32

# ************** Membership operators************

In [81]:
# IN operator
stock_list=['GOOG', 'MSFT', 'AMZN', 'NFLX']

'GOOG' in stock_list

True

In [82]:
'APP' in stock_list

False

In [83]:
# NOT IN
'APP' not in stock_list

True

In [84]:
'GOOG' not in stock_list

False

# *************Identity operators********

In [85]:
# is : This operator returns True if both operands are identical, False otherwise.
a=1
b=2
a is b

False

In [86]:
b=a
a is b

True

In [87]:
# is not :
stock_list = ['AMZN', 'NFLX']
my_list = ['AMZN', 'NFLX']

In [88]:
stock_list is my_list

False

In [ ]:
# Though both lists are identical, they will not be stored
# at the same memory location as lists are mutable.

In [ ]:


Operators Precedence
() Parentheses
** Exponential
+, -, ~ Positive, Negative, Bitwise NOT
*, /, //, % Multiplication, Division,
Floor Division, Modulus
+, - Addition, Subtraction
,  Bitwise Left, Bitwise Right
& Bitwise AND
 Bitwise XOR
| Bitwise OR
==, !=, >, >=, <, <=, Comparison, Identity,
is, is not, in, not in Membership Operators
not Logical NOT
and Logical AND
or Logical OR